@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,600&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */

:root {
  --primary-color: #cfcfcf;
  --primary-color-azul: #1ebab1;
  --primary-color-preto: #000;
  --primary-color-marrom: #9d9494;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Open Sans', sans-serif;
}


